<div class="cube">
    <img class="cube" src="{{imageUrl}}">
    <p class="name">{{name}}</p>
    <a class="btn" href="/teams/details/{{_id}}">Details</a>
    <a class="btn" href="/teams/{{_id}}/attach">Attach</a>
</div>
