<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            {{#if error}}
            <div id="notifications">
                <p id="notification-message">{{error.message}}</p>
            </div>
            {{/if}}
            <ul>
                <li><img class="logo" src="/images/logoIco.jpg"></li>
                <li><a href="/teams">Browse</a></li>
                <li><a href="/about">About</a></li>
                {{#if isAuthenticated}}
                <li><a href="/teams/create">Create a Team</a></li>
                <li><a href="/players/create">Create a Player</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        {{{body}}}
    </div>
    <footer>
        <hr />
        <p>
            &copy; 2021 KARCHEV INC. | All right reserved | Terms of service
        </p>
        <hr />
    </footer>

</body>

</html>