<main>
  <h1>About the project</h1>
  <div class="about">
    <p>
      <strong><i>"Bassketball-Accessories"</i></strong> is a place, where you can browse some of the most popular
      <strong><em>NBA
          players</em></strong> and their <strong><i>drip</i></strong> of and on the court.This application was created
      as an exercise by the one and only: <strong>Hristo Karchev</strong>
    </p>
  </div>
</main>