<main>
  <h1>About the project</h1>
  <div class="about">
    <p>
      <strong><i>"Fantasy Sports"</i></strong> is a place, where you can create your own team and add 
      <strong><em>NBA
          players</em></strong> and win from their on-court play.You win if the players you have selected perfrom good every week.This application was created
      as an exercise by: <strong>Hristo Karchev</strong>
    </p>
  </div>
</main>